# Python Cache

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

venv/
.venv/
env/

# VS Code

.vscode/

# Jupyter Notebook

.ipynb_checkpoints/

# System Files

.DS_Store
Thumbs.db

# Streamlit Cache

.streamlit/

# Generated Reports (Optional)

*.log

# Python Build Files

build/
dist/
*.egg-info/
